 <!-- Post Modal -->
<div class="modal fade" id="post-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="new-post-form">
            <div class="mb-3">
              <label class="form-label" for="post-title">Title</label>
              <input class="form-control" type="text" id="post-title" name="post-title" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="post-text">Content</label><br>
              <textarea class="form-control" name="post-text" id="post-text" rows="4" cols="100"></textarea>
            </div> 
            <div id="post-modal-alert" class="alert alert-info" role="alert">
                Give your post a title and type away!
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="create-post-btn">Submit</button>
      </div>
    </div>
  </div>
</div>


