{{> post-info post is-logged-in=loggedIn dashboard=false}}

{{#if loggedIn}}
<form class="comment-form">

    <div class="mt-3">
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Add comment</button>
    </div>

</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}